<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/userdash">User dashboard</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/listofproducts']">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/listbycategory']">Search By Category</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/mycart']">Shopping cart</a>
    </li>
    </ul>
    </nav>
    <h3>List of Products in your cart</h3>
    <br>
    <table class="table table-bordered ">
      <thead>
      <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Category</th>
          <th>Price</th>
          <th>Action</th>
      </tr>
      </thead>
      <tbody><tr *ngFor="let c of carts">
          <td>{{c.product.name}}</td>
          <td> <img src="assets\phone.jpg" height="80" width="80" alt="Bat image"> </td>
          <td>{{c.product.category}}</td>
          <td>{{c.product.price}}</td>
          <td><button class="btn btn-danger" (click)="delete(c.cart.cid)">Delete</button></td>
          </tr>
      </tbody>
  </table>